body{
	margin: 0px;
	padding: 0px;
}
.cadastros .cabecalho div{
	height: 50px;
	background-color: #FFA500;
	color: #272727;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
}
.cadastros ul{
	min-width: 300px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	background-color: #FF8C00;
}
.cadastros ul a{
	text-decoration: none;
}
.cadastros ul a li{
	font-size: 20px;
	color: #333;
	text-transform: uppercase;
	display: flex;
	padding: 5px 0px;
	padding-right: 10px;
	padding-left: 20px;
}
.cadastros ul a li div{
	display: flex;
	align-items: center;
	justify-content: center;
}
.cadastros ul a li .img{
	padding-right: 20px;
}
.cadastros ul a li .img img{
	width: 20px;
}
.cadastros a li:hover{
	background-color: #FF4500;
}
.ativo{
	background-color: #FF4500;
}

/* tabela de cadastros */
.cadastros .conteudo #tabelaCadastros tbody tr td{
	font-size: 30px;
    text-transform: uppercase;
}