body{
	margin: 0px;
	padding: 0px;
}
.cadastros{
	
}
.cadastros ul{
	min-width: 300px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	padding-left: 30px;
	background-color: #FFA500;
}
.cadastros ul a{
	text-decoration: none;
}
.cadastros ul a li{
	font-size: 20px;
	color: #333;
	text-transform: uppercase;
	display: flex;
	padding: 5px 0px;
	padding-right: 10px;
}
.cadastros ul a li div{
	display: flex;
	align-items: center;
	justify-content: center;
}
.cadastros ul a li .img{
	padding-right: 5px;
}
.cadastros ul a li .img img{
	width: 20px;
}
.cadastros a li:hover{
	background-color: #FF4500;
}