body{
	margin: 0px;
	background-color: #777;
}
.logo{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.logo img{
	width: 150px;
}
.logo h1{
	font-size: 40px;
	margin-top: 0px;
}
form{
	width: 400px;
	height: 500px;
	background-color: #eee;
	border-radius: 10px;
	position: absolute;
	margin-left: -200px;
    left: 50%;
    top: 50%;
    margin-top: -250px;
}
.row{
	margin: 0px;
	margin-bottom: 10px;
}

.linha1{
	margin-top: 50px;
}
.linha1:focus input{
	color: red;
}
.botoes{
	margin-top: 30px;
}
.retorno{
	
}